@font-face{
	font-family: 'emoji';
	src: url('emojione');
}

body {
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    background-color: #D6EFFF;
    color: #241023;
}

h1, h2 {
	font-family: 'Bree Serif', cursive;
}

h1 {
	font-size: 250%;
	font-weight: 300;
}

h2{
	color: #73AB84;
	text-decoration: underline;
	cursor: pointer;
}

div #container {
	display: flex;
}

ol {
	display: inline-block;
}

ol li {
	text-align: left;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
}

ul li {
	display: inline-block;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 1.6em;
}

.hidden {
	display: none;
}

